@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');

.Footer-div {
    width: 100%;
    text-align: center;
    background-color:#000;
    bottom: 0px;
    
    left: 0;
    bottom: 0;
}

.footer-l {
    display: flex;
    padding-top: 10px;    
}

.footer-l ul {
    
    display: flex;
    flex-direction: row;
    width: 100%;
    text-decoration: none;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    

}

li {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

        
    .Footer-div {
        width: 100%;
        text-align: center;
        background-color:#000;
    }

    .footer-l {
        display: flex;
        padding-top: 10px;    
    }

    .footer-l ul {
        
        display: flex;
        flex-direction: column;
        width: 100%;
        text-decoration: none;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        

    }

    li {
        color: #fff;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 10px;
    }
    
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 320px) {
           
    .Footer-div {
        width: 100%;
        text-align: center;
        background-color:#000;
    }

    .footer-l {
        display: flex;
        padding-top: 10px;    
    }

    .footer-l ul {
        
        display: flex;
        flex-direction: column;
        width: 100%;
        text-decoration: none;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        

    }

    li {
        color: #fff;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 10px;
    }
        
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
           
    .Footer-div {
        width: 100%;
        text-align: center;
        background-color:#000;
    }

    .footer-l {
        display: flex;
        padding-top: 10px;    
    }

    .footer-l ul {
        
        display: flex;
        flex-direction: column;
        width: 100%;
        text-decoration: none;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        

    }

    li {
        color: #fff;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 10px;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
           
    .Footer-div {
        width: 100%;
        text-align: center;
        background-color:#000;
    }

    .footer-l {
        display: flex;
        padding-top: 10px;    
    }

    .footer-l ul {
        
        display: flex;
        flex-direction: row;
        width: 100%;
        text-decoration: none;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        

    }

    li {
        color: #fff;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 10px;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
.Footer-div {
    width: 100%;
    text-align: center;
    background-color:#000;
}

.footer-l {
    display: flex;
    padding-top: 10px;    
}

.footer-l ul {
    
    display: flex;
    flex-direction: row;
    width: 100%;
    text-decoration: none;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    

}

li {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
}
    
    
}